$phone: 360px;
$tablet: 768px;
$desktop: 1366px;
$LGdesktop: 1920px;
// for small screen
@media screen and (min-width:$phone) and (max-width:$tablet) {
    .App {
        margin: 0 10px;
    }
    // 1. hide menu
    .menu,
    .login_btn {
        display: none;
    }
    // 2.show menu button
    .menu_btn {
        display: block !important;
    }
}

// for table or bigger then small phone
@media screen and (min-width:$tablet) and (max-width:$desktop) {}

// for large screen
@media screen and(min-width:$LGdesktop) {}


/**
@default media
*/

.menu_btn {
    display: none;
}