* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f9f9fa;
    overflow-x: hidden;
}

.App {
    margin: 0px 50px;
    @media screen and (min-width: 1590px) {
        margin: 0px 300px;
    }
}

footer {
    .gridlayout {
        @media screen and (min-width: 1590px) {
            margin: 0px 300px;
        }
    }
}