$btn-border: #ced0da;
$menu-color: #7b889b;
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    position: relative;
    .brand_name {
        span {
            font-size: 30px;
            background: -webkit-repeating-linear-gradient(#fb99c2, #febe85);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bolder;
        }
    }
    .menu {
        ul {
            list-style: none;
            display: flex;
            li {
                padding: 5px 10px;
                color: $menu-color;
                font-weight: bold;
                transition: all .1s ease-in-out;
                cursor: pointer;
                &:hover {
                    margin-top: 5px;
                    border-bottom: 2px solid #fb99c2;
                    // @include Keyframe()
                }
            }
        }
    }
    .lr {
        button {
            padding: 10px 40px;
            border: none;
            // color: var(--menu-color);
            color: #787483;
            font-weight: 600;
            border: 2px solid $btn-border;
            border-radius: 30px;
        }
        .menu_btn {
            padding: 10px;
            border-radius: 7px;
            img {
                height: 20px;
                width: 20px;
            }
        }
    }
}

// animation
@mixin Keyframe ($name: "default_anim", $duration:333ms, $count:infinit) {
    @keyframes default_anim {
        0% {
            left: 0%;
        }
        100% {
            left: 100%;
        }
    }
    animation-name:$name;
    animation-duration: $duration;
    animation-iteration-count: $count;
}

// for mobile